<%-- 
Name:
Author: 
Description: 
--%>
<%@ Template Language="C#" TargetLanguage="C#" Src="NHibernateHelper.cs" Inherits="NHibernateHelper" %>
<%@ Property Category="Base" Name="BaseNameSpace" Type="System.String"%>
<%@ Property Category="Base" Name="Module" Type="System.String" Default="Model"%>
<%@ Property Category="Base" Name="Table" Type="SchemaExplorer.TableSchema"%>
<%@ Property Category="FileHeader" Name="SystemCode" Type="String"%>
<%@ Property Category="FileHeader" Name="SystemName" Type="String" %>
<%@ Property Category="FileHeader" Name="ComponentCode" Type="String" %>
<%@ Property Category="FileHeader" Name="ComponentName" Type="String" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.NHibernate" Path="Common" %>

<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="CodeSmith.SchemaHelper.NHibernate" %>

/*
版权所有：版权所有(C) <%= DateTime.Now.Year.ToString() %>
文件名称：<%= Table.Name.ToString() %>.cs
系统编号：<%= SystemCode %>
系统名称：<%= SystemName %>
组件编号：<%= ComponentCode %>
组件名称：<%= ComponentName %>
设计作者：自动生成
完成日期：<%= DateTime.Now.ToString("yyyy-MM-dd") %>
内容摘要：表[<%= Table.Name %>]对应的实体类
    此文件为工具自动生成，请不要修改其中的代码，否则在更新时会丢失所做的修改。
    如果需要增加功能，请在此基础上建派生类。
*/

using System;

namespace <%= BaseNameSpace %>.<%= Module %>
{
    /// <summary>
    /// 类 名 称：<%= Table.Name %>
    /// 完成日期：<%= DateTime.Now.ToString("yyyy-MM-dd") %>
    /// 编码作者：自动生成
    /// 内容摘要：包含实体的信息,映射数据库[<%= Table.Name %>]表
    /// </summary>
    [Serializable]
    public class <%= Table.Name %>
    {
        #region 自动生成
    <%
        foreach(ColumnSchema column in Table.Columns)
        {
            if ((column.SystemType == typeof(Boolean) || column.SystemType == typeof(Int32))
                && column.AllowDBNull)
            {
        %>
        public virtual <%= column.SystemType %>? <%= column.Name %> { get; set; }
        <%  }
            else
            {%>
        public virtual <%= column.SystemType %> <%= column.Name %> { get; set; }
          <%} 
        }%>
        #endregion
    }
}      
<script runat="template">

</script>